body {
	background-color: grey;
}
a{
	text-decoration:none; 
	color: #3a2560 !important;
}
.navbar{
	background-color: white !important;
}
.logo-morado {
	width: 4%;
	height: 4%;
	min-width: 250px;
	min-height: 4%;
	max-width: 10%;
	max-height: 4%;
}
div.category_item p{
	font-size: 2em;
	text-align: center;
	color: #3a2560;

}
.category_item{
 width: 10vw;
 height: 30vh;
 justify-content: center;
 margin-bottom: 5%
}

.category_item img {
	width: auto ;
	padding-left: 40%;
	margin-bottom: 10%;
	margin-top: 3%;
	height: 40%;
}

.category_item.paint1{
	background-color: #ec664c;

}

.category_item.paint2{
	background-color: #E9CB4D;
}

.category_item.paint3{
	background-color: #68AE63;
}
/*alturas de secciones*/
#home, #checkout{
	height: 100vh;
	background-color: white;
}
 #categorias{
	height: 130vh;
	background-color: white;
}
 #footer{
 	height: 50vh;
	background-color:#FDFDFD}
 #footer>a{
 	color: #3a2560;
 }
/*altura de banner*/
 .carousel-inner{
 	height: 90vh
 }


/*JAVASCRIPT*/
/*PRoductos en dom*/
.category-wrapper {
	width: 100%;
	height: 20vh;
	background-color: white;
	border: solid 1px;
}
 .product{
 	display: inline-block;
 }

.owl-item.active{
	margin-right: 10px;
	background-color: white;
	display: inline-block;
}
.product-item {

	background: #fff;
	position: relative;
}
.product-item:hover {
	box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}
.product-item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height:0;
}
.pi-img-wrapper {
	position: relative;
	width: 100%;
}
.pi-img-wrapper div {
	background: rgba(0,0,0,0.3);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
}

.pi-img-wrapper div .btn-default {
	padding: 3px 10px;
	color: #fff;
	border: 1px #fff solid;
	margin: -13px 5px 0;
	background: transparent;
	position: relative;
	top: 50%;
	font-size: 12px;
}
.add2cart, .view {
	float: right;
	color: #a8aeb3;
	border: 1px #ededed solid;
	padding: 3px 6px;
}
.pi-price {
	color: blue;
	font: 18px 'PT Sans Narrow', sans-serif;
	float: left;
	padding-top: 1px;
}


/*FORM*/
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
    margin-left: 20%;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.category_list .item-active{
	background: #2D3E50;
}
